#logo-container {
	margin-bottom: 50px !important;
}
#sidenav-img {
	background-color:initial;
	margin-top:25px;
}
#sidenav-nametxt {
	  margin-top: -15px;
  margin-bottom: 15px;
}
.divider-margin15 {
	margin-bottom:15px;
}